---
import { Image } from 'astro:assets'

import { Collapse } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'Open Source', text: '开源项目' },
  { depth: 2, slug: 'Company', text: '公司项目' }
]
---

<PageLayout title='项目' {headings} info={{ slug: '/projects', hideComment: true }}>
  <h2 id='Open Source'>开源项目</h2>
  <ProjectSection
    project={[
      {
        name: 'excel-cli',
        description:
          '一个运行在终端中的轻量级 Excel 查看器，具有类 Vim 导航功能，用于查看、编辑 Excel 数据并导出为 JSON 格式。',
        links: [
          { type: 'github', href: 'https://github.com/fuhan666/excel-cli' },
          { type: 'site', href: 'https://crates.io/crates/excel-cli' }
        ]
      },
      {
        name: 'maimemo-sdk',
        description: '墨墨背单词开放 API 的非官方 SDK',
        links: [
          { type: 'github', href: 'https://github.com/fuhan666/maimemo-sdk' },
          {
            type: 'site',
            href: 'https://www.npmjs.com/package/maimemo'
          }
        ]
      },
      {
        name: 'cookie-to-json-plugin',
        description:
          'uTools 插件，将 Cookie 字符串转换为 JSON 格式，方便开发者进行调试和数据处理。',
        links: [
          { type: 'github', href: 'https://github.com/fuhan666/cookie-to-json-plugin' },
          {
            type: 'site',
            href: 'https://u.tools/plugins/detail/Cookie+%E8%BD%AC+JSON/?c=xjzydwwpwa'
          }
        ]
      }
    ]}
  />
  <Collapse title='开发中的项目'>
    <ProjectSection
      project={[
        {
          name: 'Quizy',
          description: 'NestJS 实现的后端模板项目',
          links: [{ type: 'github', href: 'https://github.com/fuhan666/Quizy' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='Company'>公司项目</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: '先见 AI',
        description: '先见 AI, 有数有据的商业分析智能体, AI 智能咨询顾问。',
        links: [{ type: 'site', href: 'https://www.xianjianai.com/' }]
      },
      {
        name: '洞见研报',
        description: '依托海量的研究报告，提供便捷、全面、实时、专业的信息检索服务。',
        links: [{ type: 'site', href: 'https://www.djyanbao.com/index' }]
      }
    ]}
  />
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>
